.container{
  margin: 10% 10%;
  form{
    .like-button{
      background-color: rgb(43,150,221);
      color: white;
      border: 1px solid rgb(43,150,221);
      padding: 20px;
      border-radius: 10px;
    }
  }
}
